// 引入清除默认样式
@import './reset.scss';

// 滚动条外观设置
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $base_menu_background;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #bf4764;
    border-radius: 10px;
}