// 提供scss全局变量
// 左侧的菜单的宽度
$base_menu_width: 260px;
// 左侧菜单背景颜色
$base_menu_background: #001529;
// 顶部导航的高度
$base_tabbar_height: 50px;

// 左侧菜单栏logo高度设置
$base_menu_logo_height: 50px;
// 左侧菜单logo标题文字大小
$base_logo_title_fontSize: 25px;

// 左侧菜单最小宽度
$base_menu_min_width: 50px;